body {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  
  background: linear-gradient(to right, #000, #002145);      
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 12vh 100px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #fff;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  max-width: 800px;
  background: #12192c;
  padding: 100px 50px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left:calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #002145;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
} 

.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #0072ff;
  background-color:#fff;
  border-radius:100%;
  top: 15%;
  right: 8px;
  z-index: 99;
}

h3 {
  margin: 0;
  font-size: 120%;
}

p {
  margin: 0;
  font-size: 100%;
}
  
.body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}

p {
  line-height: 1.4em;
  color:#fff;
}

h1 {
  text-align: center;
}
form {
  order: -1;
  margin-top: 50px;
}

form input[type="button"] {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition: all 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

form input[type="button"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
